<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Covid-19 Images</title>
		<link rel="stylesheet" type="text/css" href="./css/login.css">
	</head>
	<body>
		<div class="login-form">
			<h1>Login Form</h1>
			
			<form action="auth" method="POST">
				<input type="text" name="username" placeholder="Username" required>
				<input type="password" name="password" placeholder="Password" required>
				<input type="submit" value="Login">
			</form>
			<p>
				<li>Username: test || Password: test</li>
			</p>
		</div>
	</body>

</html>